@import "compass";
@import url('https://fonts.googleapis.com/css?family=Merriweather');
// font-family
$baseFontFamily :"游ゴシック", YuGothic, "メイリオ",Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;


/*colors
------------------------------------------------------------*/
$baseColor:#e6f7e3;
$subColor: #ffffff;
$keyColor: #DB6278;
$fontColor: #0d5b1d;

/* Base
------------------------------------------------------------*/
html{ font-size: 62.5%; }


body{
  color: $fontColor;
  font-size: 1.4rem;
  font-family:$baseFontFamily;
  line-height:1.6;
  letter-spacing: 0.1em;
  background-color: $baseColor;
}

a {
  @include link-colors($keyColor, darken($keyColor, 30%), lighten($keyColor, 5%), darken($keyColor, 10%));
  text-decoration: none;
}
.flexible-images {
  max-width: 100%;
  height: auto;
}

/* Align
------------------------------------------------------------*/
.text-center {
  text-align: center;
}
/* Layout
------------------------------------------------------------*/
.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Font
------------------------------------------------------------*/
.Merriweather {
  font-family: 'Merriweather', serif;
}
.uppercase {
  text-transform: uppercase;
}

/* Header
------------------------------------------------------------*/
.mainphoto {
  background-image: url("../img/img.jpg");
  height: 250px;
  width: 100%;
  background-size: cover;
  background-position: center center;
}
  
@media screen and(min-width: 769px) {
.mainphoto {
  height: 500px;
}
}

/* main
------------------------------------------------------------*/
#Spring {
h1 {
    color:$keyColor;
    @extend .Merriweather;
    font-size: 4rem;
    @extend .uppercase;
  }
  h2 {
      color:lighten($keyColor, 10%);
      font-size: 2.5rem;
  }
}

/* Contents
------------------------------------------------------------*/
section {
  padding: 60px 0;
  .container {
    width: 90%;
    @extend .block-center;
  }
}

/* Spring
------------------------------------------------------------*/
#Spring {
.container {
    @include display-flex;
    justify-content: space-between;
    @include flex-direction(column);
  }
h3 {
    color:darken($baseColor,60%);
    margin-bottom: 10px;
    font-size: 2rem;
     }
.Spring-box {
    @include flex(1);
    margin: 10px;
    padding: 20px;
    background-color: $subColor;
    }
   }
   @media (min-width: 769px) {
#Spring {
 .container {
    @include flex-direction(row);
      justify-content: space-between;
  }
  .Spring-box {
    margin: 10px;
    padding: 20px;
    }
   }
   }
/* next
------------------------------------------------------------*/
.next {
  background-color: $keyColor;
  padding:100px;
  text-align: center;
  @extend .Merriweather;
  color:$subColor;
  font-size: 2rem;
  }
  .button {
          margin: auto;
          text-align: center;
          padding: 5px;
          width: 200px;
          margin-top: 10px;
          display: block;
          font-weight: bold;
          background-color:#ffffcc;
           @include border_radius();
  }

/* Footer
------------------------------------------------------------*/
footer {
  background-color:lighten($keyColor, 20%);
  text-align: center;
  font-size: 0.5rem;
  color: #FFF;
  }